<div align="center">
  <h1 mat-dialog-title>Olvidó su contraseña ?</h1>
  <div>
    <h5 class="mat-body-1">Recuperación de contraseña, ingrese su correo electrónico y fecha de nacimiento para enviar la solicitud de cambio a su correo.</h5>
  </div>
  <div>
    <mat-form-field color="accent" style="display: block">
      <input matInput placeholder="Correo electrónico" type="email" [(ngModel)]="Email">
    </mat-form-field>

    <mat-form-field color="accent" style="display: block">
      <input readonly matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="Fecha_Nacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onDoClick()" [disabled]="Email==null||Fecha_Nacimiento==null">Aceptar</button>
    <button mat-button (click)="onCancelClick()">Cancelar</button>
  </div>
</div>
