<div class="example-container">

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 fixedInViewport="true" 
                 [opened]="mobileQuery.matches ? false: true"
                 [class.mat-elevation-z8]="true">
      <mat-nav-list>
        <div align="center" style="padding-top: 15px;padding-bottom: 30px">
          <p class="mat-body-1">{{Usuario}}</p>
        </div>
        <div *ngFor="let nav of fillerNav">
          <a mat-list-item (click)="mobileQuery.matches ? selectOptionMobile(snav,nav.title):selectOptionDesktop(nav.title)" routerLink="{{nav.fragment}}">
            <mat-icon style="padding-right: 20px">{{nav.icon}}</mat-icon>
            {{nav.title}}
          </a>
        </div>
        <a mat-list-item (click)="mobileQuery.matches ? logOut(snav):logOut(null)">
          <mat-icon style="padding-right: 20px">exit_to_app</mat-icon>
          Cerrar sesión
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="example-toolbar">
        <button mat-icon-button *ngIf="mobileQuery.matches" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">{{this.router.url.split("/")[2]}}</h1>
        <span class="example-spacer"></span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
