<div [ngStyle]="{'padding-top':mobileQuery.matches?'56px':'64px'}" align="center" class="container4">
  <div *ngIf="empleadosData.length>0" style="padding: 20px;overflow-x: auto;">
      <table #empleadosTable mat-table style="width: 100% ;" [dataSource]="empleadosData" class="mat-elevation-z8">

          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Nombre}} </td>
          </ng-container>
        
          <ng-container matColumnDef="DPI">
            <th mat-header-cell *matHeaderCellDef> DPI </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.DPI}} </td>
          </ng-container>

          <ng-container matColumnDef="Cantidad_Hijos">
            <th mat-header-cell *matHeaderCellDef> # hijos </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Cantidad_Hijos}} </td>
          </ng-container>

          <ng-container matColumnDef="Salario_Base">
            <th mat-header-cell *matHeaderCellDef> Salario Base </th>
            <td mat-cell *matCellDef="let empleado"> Q{{empleado.Salario_Base}} </td>
          </ng-container>

          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha ingreso </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Fecha |  date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="Fecha_Nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Fecha_Nacimiento |  date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Email}} </td>
          </ng-container>

          <ng-container matColumnDef="Bono_Decreto">
            <th mat-header-cell *matHeaderCellDef> Bono decreto </th>
            <td mat-cell *matCellDef="let empleado"> Q{{empleado.Bono_Decreto}} </td>
          </ng-container>

          <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let empleado"> {{empleado.Usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="Accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let empleado">
              <button style="margin-right: 5px" mat-mini-fab matTooltip="Borrar empleado" (click)="eliminar(empleado)"><mat-icon>delete</mat-icon></button>
              <button style="margin-right: 5px" mat-mini-fab matTooltip="ver empleado y prestaciones" color="primary" (click)="ver(empleado)"><mat-icon>assignment</mat-icon></button>
              <button style="margin-right: 5px;background-color: darkorange" mat-mini-fab matTooltip="Editar empleado" (click)="editar(empleado)"><mat-icon>edit</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>
<button (click)="agregar()" matTooltip="Agregar empleado" mat-fab style="position: fixed; z-index: 3;bottom: 20px; right: 20px;background-color: black"><mat-icon>add</mat-icon></button>
